<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy/MM/dd HH:mm:ss.SSS}][%thread][%-5level][%logger{0}] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.tomcat.jdbc.pool.ConnectionPool" level="DEBUG" />
<!--    <logger name="org.springframework" level="ERROR" />-->
<!--    <logger name="org.springframework.core.io.support.PathMatchingResourcePatternResolver" level="ERROR"/>-->
    <logger name="org.springframework.jdbc.datasource.DataSourceUtils" level="ERROR"/>
    <logger name="org.mybatis.spring.SqlSessionFactoryBean" level="ERROR"/>
<!--    <logger name="org.springframework.web.servlet.DispatcherServlet" level="DEBUG"/>-->
    <logger name="jdbc.sqlonly" level="DEBUG"/>
    <logger name="jdbc.sqltiming" level="ERROR"/>
<!--    <logger name="jdbc.audit" level="ERROR"/>-->
<!--    <logger name="jdbc.resultset" level="ERROR"/>-->
<!--    <logger name="jdbc.resultsettable" level="ERROR"/>-->
    <logger name="jdbc.connection" level="ERROR"/>
    <logger name="log4jdbc.debug" level="ERROR"/>
    <logger name="org.mybatis.spring.transaction.SpringManagedTransaction" level="ERROR"/>
    <logger name="org.mybatis.spring.SqlSessionUtils" level="ERROR"/>

    <logger name="ttd.textToDatabase.service.read.ReadMapper" level="DEBUG"/>
    <logger name="ttd.textToDatabase.service.insert.InsertMapper" level="DEBUG"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>