<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>qwerty</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style>
    .data-grid {
      width: 100%;
      border-collapse: collapse;
    }

    .data-grid th,
    .data-grid td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }

    .data-grid th {
      background-color: lightgray;
    }
    </style>
</head>
<body>

<form id="file_form" method="post" enctype="multipart/form-data"/>
    <input id="file_input" multiple type="file" accept=".txt,.csv,.xls,.xlsx"/>
</form>

<br>

<table id="userTable" class="data-grid">
    <thead>
    <tr>
        <th style="width:15px"></th> <!-- checkbox -->
        <th>file name</th>
        <th>file size</th>
        <th>data count</th>
        <th>upload count</th>
        <th></th> <!-- button -->
    </tr>
    </thead>
    <tbody>
        <tr th:each="user : ${file}">
            <td th:text=""><input type="checkbox"></td>
            <td th:text="${file.file_name}"></td>
            <td th:text="${file.file_size}"></td>
            <td th:text="${file.row_count}"></td>
            <td th:text="${file.upload_count}"></td>
            <td th:text=""><button>C</button></td>
        </tr>
    </tbody>
</table>

<script type="text/javascript" src="./jquery-3.6.3.js"></script>
<script type="text/javascript" src="./main.js"></script>
</body>
</html>
